@using RazorExample1.Models;

@model List<Kategori>


<div class="list-group">


    @foreach (var kategori in Model)
    {
        <a href="#" class="list-group-item">

            @kategori.KategoriAdi

        </a>
    }

</div>